@charset "UTF-8";

/*Seção do cabeçalho*/

.cabecalho__conteudo {
    background-color: var(--cor-terciaria);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 15px;
    height: 5em;
}

.cabecalho__conteudo__imagem {
    background-color: var(--cor-terciaria);
    width: 9em;
    
}

.cabecalho__conteudo__pesquisa {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
}

.cabecalho__conteudo__pesquisa__lupa {
    padding: 9px 15px;
    background-color: #FFFFFF;
    border: none;
    border-radius: 8px 0px 0px 8px;
}

.cabecalho__conteudo__pesquisa__lupa img {
    width: 27px;
}

.cabecalho__conteudo__pesquisa__barra {
    border: none;
    width: 55rem; 
    height: 3rem;
    border-radius: 0px 8px 8px 0px;
    font-size: 0.9em;
}  

.cabecalho__conteudo__acesso {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    padding: 0px 14px;
}

.cabecalho__conteudo__acesso__imagem {
    width: 26px;
    padding: 10px;
}

.cabecalho__conteudo__acesso__imagem:hover {
    background-color: var(--cor-sextenaria);
    border-radius: 25%;
}

.cabecalho__conteudo__navegacao{
    background-color: var(--cor-terciaria);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3%;
}

.cabecalho__conteudo__navegacao__link {
    background-color: var(--cor-terciaria);
    color: var(--cor-secundaria);
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    padding-top: 6px;
    font-size: 0.9rem;
}

.cabecalho__conteudo__navegacao__link:hover {

    color: var(--cor-hover);
}
