footer {
    background-color: #152B40; /* Define o fundo do rodapé como uma cor escura, #152B40 */
    color: #E9AAB2; /* Define a cor do texto como um tom suave de rosa (#E9AAB2) */
    font-family: 'Montserrat'; /* Define a fonte utilizada no rodapé como Montserrat */
    padding: 1.5em; /* Adiciona espaçamento interno de 1.5em em todos os lados do rodapé */
    text-align: center; /* Centraliza o texto no rodapé */
    font-size: 16px; /* Define o tamanho da fonte como 16px */
    display: flex; /* Aplica o layout flexível para organizar os itens dentro do rodapé */
    align-items: center; /* Alinha os itens verticalmente no centro */
    justify-content: space-around; /* Distribui os itens de forma espaçada ao longo do espaço disponível */
    margin-top: 3em; /* Adiciona margem superior de 3em, afastando o rodapé do conteúdo anterior */
}

.rodape__logo {
    float: left; /* Faz com que o logo flutue à esquerda do rodapé */
    width: 60px; /* Define a largura do logo como 60px */
    margin-bottom: -15px; /* Aplica uma margem negativa na parte inferior do logo para ajustá-lo verticalmente */
    inline-size: 10%; /* Define a largura do logo como 10% do espaço disponível, ajustando sua responsividade */
}

.rodape__pagamentos img {
    width: 250px; /* Define a largura das imagens dentro de rodape__pagamentos como 250px */
}

.rodape__pagamentos {
    font-size: 14px; /* Define o tamanho da fonte dentro da seção de pagamentos como 14px */
    text-align: left; /* Alinha o texto da seção de pagamentos à esquerda */
}